@model List<AudioAPP.Models.Audio>
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Identity
@{
}
<h1 class="text-uppercase m-1">Pliki MP3</h1>

<div class="container border p-2 list-group" style="width:100%">


    @foreach (var audio in @Model)
    {


        <div class="container m-2 p-2 border rounded">
            @if (User.Identity.IsAuthenticated && @audio.Author == @UserManager.GetUserName(User))
            {
                 <a button asp-action="Edit" class="btn btn-warning"  asp-route-id="@audio.Id" >Edit</a>
                                 <l>      </l>
                  <a button asp-action="Remove" class="btn btn-danger"  asp-route-id="@audio.Id" >Remove</a>
            }

            <h2 class="text-center">@audio.Title</h2>

            @if (!String.IsNullOrEmpty(@audio.Image))
            {
                var image_path = $"/Image/{@audio.Image}";
                <h2 class="text-center">
                <image src= @image_path  Width="300" Height="220" />
                </h2>
            }
           @if (!String.IsNullOrEmpty(@audio.Sound))
            {
                var sound_path = $"/Sound/{@audio.Sound}";
                 <h2 class="text-center">
                <audio controls src = @sound_path/>
                </h2>
            }

            <div class="text-center">
            @audio.Description</div>

            <div class = "comment-section">
                    <a button asp-action="AddComment" class="btn btn-primary"  asp-route-id="@audio.Id" >Skomentuj</a>
                    <a button asp-action="Details" class="btn btn-secondary" asp-route-id="@audio.Id">Details</a> 
            </div>
            @if (@audio.Comments is not null)
            {                <h1 class="text-uppercase m-1">Komentarze</h1>
               <div class="container m-2 p-2 border rounded">
               @foreach (var item in @audio.Comments)
               {
                 <div class = "comment-section">
                   @item.Author :
                   @item.Message
                   //
                   @item.Created
                 </div>

               }
               </div>
            }
        </div>
        
    }

</>