@model IEnumerable<AudioAPP.Models.Audio>
@{
}
<h1 class="text-uppercase m-1">Pliki MP3</h1>

<div class="container border p-2 list-group" style="width:100%">

    @foreach (var audio in @Model)
    {


        <div class="container m-2 p-2 border rounded">
        <a asp-action="Edit" asp-route-id="@audio.Id">Edit</a> |
        <a asp-action="Remove" asp-route-id="@audio.Id">Delete</a> 
            <h2 class="text-center">@audio.Title</h2>
            @if (!String.IsNullOrEmpty(@audio.Image))
            {
                var image_path = $"/Image/{@audio.Image}";
                <img src= @image_path/>
            }
           @if (!String.IsNullOrEmpty(@audio.Sound))
            {
                var sound_path = $"/Sound/{@audio.Sound}";
                <audio controls src = @sound_path/>
            }
            <div class="text-center">
            @audio.Description</div>
        </div>
        
    }

</div>