@model List<AudioAPP.Models.Profile>
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Identity
@using AudioAPP.Models
@{
}
<h1 class="text-uppercase m-1">Aktualności</h1>

<div class="container border p-2 list-group" style="width:100%">
    <div class="container m-2 p-2 border rounded">
     <a button class="btn btn-success" asp-controller="ProfilePost" asp-action="Create">Dodaj post</a>
    </div>
    <div class="container m-2 p-2 border rounded">
     <form asp-controller="ProfilePost" asp-action="SearchFind" method="get">
        Wyszukaj tytuł: <input class="search" type="text" name="search"/>
        <div>
            <a class="text-white bg-secondary">        </a>
        </div>
    </form>
     <a button type="submit" asp-controller="ProfilePost" asp-action="TagFindProfile1" class="btn btn-secondary" itemid="1">Niski</a>
     <a button type="submit" asp-controller="ProfilePost" asp-action="TagFindProfile2" class="btn btn-info"  id="2" >Normalny</a>
     <a button type="submit" asp-controller="ProfilePost" asp-action="TagFindProfile3" class="btn btn-warning" id="3" >Wysoki</a>
     <a button type="submit" asp-controller="ProfilePost" asp-action="TagFindProfile4" class="btn btn-danger"  id="4" >Pilny</a>
    </div>


    @for (int i = @Model.Count-1; i>= 0; i--)
    {
        <div class="container m-2 p-2 border rounded">
            @if (User.Identity.IsAuthenticated && @Model[i].Author == @UserManager.GetUserName(User))
            {
                 <a button asp-action="Edit" class="btn btn-warning"  asp-route-id="@Model[i].Id" >Edit</a>
                                 <l>     </l>
                  <a button asp-action="Remove" class="btn btn-danger"  asp-route-id="@Model[i].Id" >Remove</a>
            }

            <h2 class="text-center">@Model[i].Title</h2>

            <div class="text-center">
            @Model[i].Description</div>
            <div class="text-right">
            Priorytet:
            @if (@Model[i].Priorities == Priority.Low)
            {
                <span class="border rounded "><a class="text-white bg-secondary">@Html.DisplayFor(modelProfile => @Model[i].Priorities) </span>
            }
            @if (@Model[i].Priorities == Priority.Normal)
            {
                <span class="border rounded "><a class="text-white bg-info">@Html.DisplayFor(modelProfile => @Model[i].Priorities) </a></span>
            }
            @if (@Model[i].Priorities == Priority.High)
            {
                <span class="border rounded "><a class="text-white bg-warning">@Html.DisplayFor(modelProfile => @Model[i].Priorities) </a></span>
            }
            @if (@Model[i].Priorities == Priority.Urgent)
            {
                <span class="border rounded "><a class="text-white bg-danger">@Html.DisplayFor(modelProfile => @Model[i].Priorities) </a></span>
            }
@*                  <span class="border border-secondary"></span>
                    <span class="border border-success"></span>
                    <span class="border border-danger"></span>
                    <span class="border border-warning"></span>
                    <span class="border border-info"></span>*@
            </div>
            <div class="text-right">
            Created:
            @Model[i].Created</div>
            <div class = "comment-section">
                    <a button asp-action="Details" class="btn btn-secondary" asp-route-id="@Model[i].Id">Details</a> 
            </div>
             
        </div>
        
    }

</>